template(name="ooBanner")
  if ifAnyDataPassed
    div(oo-Banner="shadow {{#if fullWidth}}full-width{{else}}push{{/if}} {{oo}}" class="{{jsClass}}" style="background-color:{{backgroundColor}};")
      if header
        div(item="no-bottom tiny" oo-Color="back:neutral")
          div(item-title="small line-height:small" oo-Color="text:white") {{header}}
      if titlePassed
        div(item="no-bottom tiny" oo-Color="back:neutral-tint")
          div(item-title="small line-height:small" oo-Color="text:neutral") {{title}}
      if loadFromLocal
        img.js-Image.oo-Banner--image.js-enableTouch(src="{{imageLocal}}", onerror="this.onerror=null;this.src='{{image}}';"  alt="")
      else
        img.oo-Banner--image.js-enableTouch(src="{{image}}", alt="")
